.sidebar {
	background-color: $gray-800;
	height: 100%;
	width: 200px;
	position: fixed;
	left: 0;
	top: 0;


	.nav li i {
		font-size: 20px;
	}

	.nav-link {
		color: $gray-600;
		&:hover,
		&:focus {
			background-color: $gray-900;
			color: $white;
			i {
				color: $primary;
			}
		}
	}
}

.thumbnail img {
	border-radius: 50%;
	height: 48px;
	width: 48px;
}
